@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  /* --color-primary: #d41; */
  --color-primary: #17d;
  --color-secondary: #91d;
  --color-background: #333;
  --color-text: aliceblue;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-background);
}

h1 {
  font-size: 75px;
  margin: 0;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  z-index: 100;
}

#navbar > ul {
  display: flex;
  list-style: none;
}

#navbar > ul > li {
  margin: 0 15px;
  font-size: 20px;
}

#navbar > ul > li > a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: bold;
}

#navbar > ul > li > a:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#welcome-section p {
  font-size: 40px;
  color: var(--color-primary);
  margin: 0;
}

#projects {
  background-color: var(--color-primary);
  padding-top: 1px;
  /* make anchor links position properly with the fixed header */
  scroll-margin-top: 56px;
}

#projects h1 {
  margin: revert;
  text-align: center;
  font-size: xxx-large;
  text-decoration: underline;
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;
  padding: 2em;
}

.project-tile {
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(var(--color-background), 0.8);
  position: relative;
}

.project-tile h2 {
  text-align: center;
}

.project-tile img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: fill;
}

.project-tile .buttons {
  display: flex;
  justify-content: center;
}

.project-tile .buttons a {
  color: var(--color-secondary);
  background: var(--color-text);
  padding: 5px 20px;
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  margin: 2em;
  white-space: nowrap;
  text-decoration: none;
  transition-duration: 0.4s;
}

.project-tile .buttons a:hover {
  color: var(--color-text);
  background: var(--color-secondary);
}

#contact {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact p {
  text-align: center;
  font-size: large;
}

#contact-links a {
  font-size: 1.5em;
  color: inherit;
  text-decoration: none;
  transition-duration: 0.4s;
  margin: 10px;
}

#contact-links a:hover {
  color: var(--color-secondary);
}

footer {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
  font-size: larger;
  border-top: 5px solid var(--color-primary);
}

footer a {
  color: var(--color-text);
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  #projects {
    flex-direction: column;
    align-items: center;
  }
}
